<div class="Container">
    <div id="ourMission" class="col-md-12 col-xs-12 text-center">
        <header>Our Mission</header>
            <p>
                As a commercial enterprise, Carrera Resources, Inc exists to generate sales and profits for its owners, investors, and business partners through acquisition, development, and revitalization of commercial assets.  As a service organization, Carrera Resources, Inc also exists to provide professional, high-value service to its clients by helping them achieve their specific objectives.  These two business drivers are inextricable; if one is not successful, the other will fail also.
            </p>
            <div class="col-md-12 col-xs-12 text-center">
                To accomplish this mission, we will at all times strive for <em>Integrity, Excellence,</em> and <em>Vision</em> in every facet of our business.
            </div>
    </div> 
    
    <div id="aboutUs" class="col-md-12 col-xs-12">
        <div class="col-md-5 col-xs-5">
            <img src="assets/aboutUs.jpg">
        </div>
        <div id="aboutUsParagraph" class="col-md-7 col-xs-7">
            <header>Carrera Resources, Inc</header>
            <p>
                Founded in 2007, Carrera Resources, Inc is a privately held Colorado Corporation dedicated to creating broad-based economic value by helping owners, investors, lenders, and communities solve difficult real estate problems.
            </p>
        </div>
    </div>
    <div id="ourServices" class="col-md-12 col-xs-12">
        <header>Our Services</header>
        <p>
            Carrera Resources, Inc has leveraged the education, experience, and skills of the company principals to develop a set of core business competencies upon which we will establish, grow, and continually refine a full range of real estate investment services.
        </p>
        <ul>
            <li>
                We have established and will adhere to an economically, technically, and operationally sustainable business model for the efficient and cost-effective acquisition and repositioning of under-performing and distressed real estate assets.
            </li>
            <li>
                We employ proven project management methodologies that support identification, planning, and integration of activities, efficient allocation of resources, and execution of work in accordance with established requirements.
            </li>
            <li>
                We have established and will adhere to standard, repeatable, and auditable business processes to ensure complete transparency and integrity in all transactions.
            </li>
            <li>
                We have established and will continue to develop and maintain strong, mutually beneficial relationships with a core team of resources including lenders, investors, appraisers, inspectors, contractors, legal counsel, brokers, property managers, mentors, and other professionals
            </li>
        </ul>
    </div>

</div>

