<div id="nav" class="col-md-12 col-xs-12">
        <div id="navHeaderLogo" class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 text-center">
            <img  src="assets/CarreraResourcesLogo.jpg">
        </div>
    <div class="col-md-12 col-xs-12">
        <div id="navHeader" class="Row">
            <div class="navbar">
                <div class="col-md-1  text-center col-xs-1">
                    <p routerLink="home"  class="navLink">Home</p>
                </div>
                <div class="col-md-2 text-center col-xs-2">
                    <p routerLink="aboutUs" class="navLink">About Us</p>
                </div>
                <div class="col-md-2 col-md-offset-6 col-xs-offset-6 col-xs-2 text-center">
                    <p routerLink="contact" class="navLink">Contact Us</p>
                </div>
            </div>
        </div>
    </div>   
</div>
    

<router-outlet></router-outlet>  

<div id="footer" class="col-md-12 col-xs-12">
    <div id="contact" class="col-md-3 text-center col-xs-4">
        <span>Contact Us</span><br>
        <a href="tel:7203102022">(720) 310 - 2022</a>
    </div>
    <div id="bottomLogo" class="col-md-6 text-center col-xs-4">
        <img  src="assets/CarreraResourcesLogo.jpg">
    </div>
    <div class="col-md-3 text-center col-xs-4">
        <address>
            Carrera Resources, Inc<br>
            2205 W 136th Ave, #106-106<br>
            Broomfield, CO 80002 <br>
        </address>
    </div>
</div>
    <div id="socialFooter" class="col-md-12 col-xs-12 text-center">
        <a target="_blank" href="https://www.linkedin.com/company/carrera-resources-inc"><img src="assets/LinkedInLogo.png"></a>
    </div>


