@font-face {
  font-family: 'Gotham-Bold';
  src: url('../assets/Gotham-Bold.ttf') format('ttf'),
       url('../assets/Gotham-Bold.ttf') format('ttf'),
       url('../assets/Gotham-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham-medium';
  src: url('../assets/Gotham-Medium.ttf') format('ttf'),
       url('../assets/Gotham-Medium.ttf') format('ttf'),
       url('../assets/Gotham-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../assets/Gotham-Light.ttf') format('ttf'),
       url('../assets/Gotham-Light.ttf') format('ttf'),
       url('../assets/Gotham-Light.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

#navHeaderLogo img{ 
    margin-bottom: -6vh;
    max-width: 50%;
    max-height: 50%;
    z-index: 2;
    padding-bottom: 2vh;
    padding-top: 2vh;
 }

#navHeader{
    font-family: 'Droid Sans', sans-serif;
    margin-bottom: 1.75vw;
    font-size: 16px;
    font-size: 2vw;
}
#bottomLogo img{
    height: 50%;
    width: 50%;
}
#footer{
    font-family: 'Droid Sans', sans-serif;
    padding: 2vw;
    font-size: 1.5vw;
    color: #6c5a4b;

}
#contact{
    font-size: 2vw;
    
}

#socialFooter{
    background-color: #6c5a4b;
    padding: 1.5vw;
}
#socialFooter img{
    width: 15%;
}